@media only screen and (min-width: 48rem) {
    header {
        height: 70px;
        justify-content: flex-start;
    }
    header h1 {
        margin-left: 1rem;
    }
    nav {
        height: 50px;
        justify-content: flex-start;
    }
    nav a {
        width: 15vw;
    }
    hr {
        height: 50px;
    }
    .main {
        align-items: flex-start;
    }
    .main h2 {
        margin-left: 40px;
        font-size: 24pt;
    }
    .phone {
        display: none;
    }
    .tablet {
        display: initial;
        width: 80vw;
        height: auto;
        margin-left: 40px;
    }
}