@import './_colors.scss';
html {
    scroll-behavior: smooth;
  }
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4px;

}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    background: $dark;
    top: 0;
    left: 0;
    // border: solid;
    div{
        width: 40vw;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: solid red;
        a {
            text-decoration: none;
        }
        h3 {
            margin: 0;
            color: $light;
            font-family: $font;
            font-weight: normal;
        }
    }
}

//Home section
.home {
    width: 100vw;
    height: 900px;
    background-image: url(./images/mountains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -8px;
    margin-top: -8px;
}

.home-cover {
    display: block;
    width: 100vw;
    height: 900px;
    background: #040404B3;
}

.home-body {
    width: 100vw;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid red;
}

.home-body-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    // border: solid;
    p {
        color: $light;
        font-family: $font;
        font-weight: normal;
        font-size: 44pt;
        // border: solid;
        margin: 0;
    }
    div {
        width: 550px;
        border-top: solid 2px $light;
        margin: 0;
    }
    h1 {
        color: $light;
        font-family: $font;
        font-weight: normal;
        // border: solid;
        margin: 0;
    }
}



//Skills section
#skills {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    margin-left: -8px;
    margin-bottom: 50px;
    h2 {
        color: $dark;
        font-family: $font;
        font-weight: normal;
        border-bottom: solid $dark 1px;
        margin-bottom: 50px;
    }
}

.skills-logos {
    width: 1000px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 140px);
    border: solid 1px #04040480;
    border-radius: 5px;
    padding: 40px 20px 40px 20px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // border: solid;
    img {
        width: auto;
        height: 80px;
    }
    h4 {
        text-align: center;
        font-weight: normal;
        font-family: $font;
    }
}
.item1 {
    img {
        border-radius: 12pc;
    }
}



//Projects section
#projects-top {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $dark;
    margin-left: -8px;
    border-bottom: solid 1px $dark;
    padding-top: 50px;
    h2 {
        // margin-top: 50px;
        a {
            color: $light;
            font-family: $font;
            font-weight: normal;
            border-bottom: solid $light 1px;
        }
    }
}

.project-top-body {
    width: 1400px;
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // border: solid red;
}

.projects-top-left {
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    // border: solid yellow;
    h2 {
        color: $purple;
        font-family: $font;
        font-weight: normal;
        margin: 0;
    }
    h5 {
        color: $light;
        font-size: 12pt;
        font-family: $font;
        font-weight: normal;
        margin: 0;
        line-height: 16pt;
    }
    p {
        color: $light;
        font-family: $font;
        font-weight: normal;
        margin: 0;
        line-height: 16pt;
    }
    h3 {
        display: none;
    }
    h4 {
        display: none;
    }
}

.projects-top-links {
    width: 600px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    // border: solid red;
    a {
        color: $purple;
        cursor: pointer;
        font-family: $font;
        margin-right: 50px;
        text-decoration: none;
        border-bottom: solid 1px $purple;
        font-size: 13pt;
    }
}


.projects-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lc-pics {
    width: auto;
    height: 470px;
}
.lc-pic-btn {
    width: 20px;
    height: 40px;
    border: none;
    background: #FFFFFF70;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.3s;
    &:hover {
        background: #FFFFFF50;
        transition: ease-in-out 0.3s;
    }
    &:active {
        background: #FFFFFF;
    }
}
.lc-btn-left {
    border-radius: 3px 0px 0px 3px;
}
.lc-btn-right {
    border-radius: 0px 3px 3px 0px;
}

.projects-bottom {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: -8px;
    // border: solid red;
}
.project-bottom-body {
    width: 1400px;
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // border: solid red;
}
.projects-bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.planappus-pics {
    width: auto;
    height: 470px;
    box-shadow: 0px 0px 20px;
}
.planappus-pic-btn {
    width: 20px;
    height: 40px;
    border: none;
    background: #00000070;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.3s;
    &:hover {
        background: #00000050;
        transition: ease-in-out 0.3s;
    }
    &:active {
        background: #000000;
    }
}
.planappus-btn-left {
    border-radius: 3px 0px 0px 3px;
}
.planappus-btn-right {
    border-radius: 0px 3px 3px 0px;
}

.projects-bottom-right {
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    h2 {
        color: $green;
        font-family: $font;
        font-weight: normal;
        margin: 0;
    }
    h5 {
        color: $dark;
        font-size: 12pt;
        font-family: $font;
        font-weight: normal;
        margin: 0;
        line-height: 16pt;
    }
    p {
        color: $dark;
        font-family: $font;
        font-weight: normal;
        margin: 0;
        line-height: 16pt;
    }
    h3 {
        display: none;
    }
    h4 {
        display: none;
    }
}

.projects-bottom-links {
    width: 550px;
    display: flex;
    justify-content: space-between;
    // border: solid;
    a {
        color: $green;
        cursor: pointer;
        font-family: $font;
        // margin-right: 50px;
        text-decoration: none;
        border-bottom: solid 1px $green;
        font-size: 13pt;
    }
}

.projects-bottom-image {
    display: none;
}

// About Section
#about {
    width: 100vw;
    // height: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: $dark;
    margin-left: -8px;
    padding-top: 60px;
    padding-bottom: 80px;
    h2 {
        color: $light;
        font-family: $font;
        font-weight: normal;
        border-bottom: solid $light 1px;
        margin: 0;
        margin-bottom: 40px;
    }
}

.about-info {
    border: solid 1px $light;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 340px;
    margin-bottom: 40px;
    img {
        width: 230px;
        height: auto;
        border-radius: 12pc;
    }
    p {
        color: $light;
        font-family: $font;
        text-align: center;
        font-size: 16pt;
        margin: 0;
    }
}
.goals {
    width: 1000px;
    color: $light;
    font-family: $font;
    font-size: 14pt;
    margin-bottom: 40px;
    p {
        line-height: 1.5;
    }
}

#experience {
    width: 1000px;
    color: $light;
    font-family: $font;
    margin-bottom: 20px;
    padding-top: 70px;
}
.experience-head {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    font-family: $font;
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px;
    p {
        border-bottom: solid $light 1px;
        font-size: 1.5em;
        margin: 0;
    }
}
.job-break {
    width: 300px;
    border-bottom: solid 1px $light;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uvu-job {
    margin-bottom: 40px;
    border: solid 1px $light;
    border-radius: 5px;
    padding: 20px;
    h3 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 600;
    }
    h4 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 1.17em;
    }
    p {
        margin: 0;
    }
}
.icon-job {
    margin-bottom: 40px;
    border: solid 1px $light;
    border-radius: 5px;
    padding: 20px;
    h3 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 600;
    }
    h4 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 1.17em;
    }
    p {
        margin: 0;
    }
}
.route-job {
    margin-bottom: 40px;
    border: solid 1px $light;
    border-radius: 5px;
    padding: 20px;
    h3 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 600;
    }
    h4 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 1.17em;
    }
    p {
        margin: 0;
    }
}
.education {
    margin-bottom: 40px;
    border: solid 1px $light;
    border-radius: 5px;
    padding: 20px;
    h3 {
        margin: 0;
        margin-bottom: 4px;
        a {
            text-decoration: none;
            color: $light;
            img {
                width: 15px;
                height: auto;
                margin-left: 5px;
            }
        }
    }
    h4 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 1.17em;
        a {
            text-decoration: none;
            color: $light;
            img {
                width: 15px;
                height: auto;
                margin-left: 5px;
            }
        }
    }
    p {
        margin: 0;
    }
}
.certificate {
    color: $light;
    img {
        width: 15px;
        height: auto;
        margin-left: 5px;
        margin-bottom: -2px;
    }
}

.contact {
    width: 200px;
    height: 40px;
    border: solid 1px $light;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $light;
    cursor: pointer;
    font-size: 14pt;
    transition: ease-in-out 0.3s;
    margin-bottom: 40px;
    &:hover {
        transition: ease-in-out 0.3s;
        width: 198px;
        height: 38px;
        border: solid 2px $blue;
        color: $blue;
    }
    img {
        width: 23px;
        height: auto;
        margin-left: 5px;
    }
}

.social-media {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 50px;
        height: auto;
    }
}

@media only screen and (max-width: 1450px) {
    .project-top-body {
        width: 95vw;
    }

    .project-bottom-body {
        width: 95vw;
    }
    .projects-top-right {
        img {
            width: auto;
            height: 400px;
        }
    }
    .projects-top-left {
        width: 550px;
    }
    .projects-bottom-left {
        img {
            width: auto;
            height: 400px;
        }
    }
    .projects-bottom-right {
        width: 550px;
    }
}

@media only screen and (max-width: 1260px) {
    .projects-top-left {
        width: 500px;
    }
    .projects-top-links {
        width: 500px;
    }
    .projects-bottom-right {
        width: 500px;
    }
    .projects-bottom-links {
        width: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    #projects-top {
        height: 900px;
        // h2 {
        //     margin-top: 30px;
        // }
    }
    .project-top-body {
        height: 820px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // border: solid red;
    }
    .projects-top-left {
        width: 610px;
        height: 320px;
        justify-content: space-between;
        align-items: center;
        // border: solid red;
        h2 {
            margin-top: 0px;
        }
        p {
            text-align: center;
        }
    }
    .projects-top-links {
        height: 80px;
        flex-direction: column;
        justify-content: space-between;
        a {
            margin-right: 0;
        }
    }
    .projects-top-right {
        margin-bottom: -3px;
        img {
            width: auto;
            height: 470px;
        }
    }

    .projects-bottom {
        height: 820px;
    }
    .project-bottom-body {
        height: 775px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // border: solid red;
    }
    .projects-bottom-left{
        display: none;
    }
    .projects-bottom-right {
        width: 610px;
        height: 275px;
        justify-content: space-between;
        align-items: center;
        // border: solid red;
        h2 {
            margin-top: 0px;
        }
        p {
            text-align: center;
        }
    }
    .projects-bottom-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plan-bottom-pics {
        width: auto;
        height: 470px;
        box-shadow: 0px 0px 20px;
    }
}

@media only screen and (max-width: 1050px) {
    header {
        div{
            width: 60vw;
        }
    }

    .home-body-content {
        height: 150px;
        p {
            font-size: 36pt;
        }
        div {
            width: 450px;
        }
        h1 {
            font-size: 20pt;
        }
    }
    .skills-logos {
        width: 90vw;
        grid-template-rows: repeat(4, 120px);
    }
    .skill-item {
        img {
            height: 60px;
        }
    }

    .about-info {
        width: 90vw;
        img {
            width: 200px;
        }
        p {
            font-size: 14pt;
        }
    }
    .goals {
        width: 90vw;
        p {
            font-size: 12pt;
        }
    }
    #experience {
        width: 90vw;
    }
    .experience-head {
        width: 90vw;
    }
}

@media only screen and (max-width: 770px) {
    header {
        div{
            width: 100vw;
        }
    }
    .skills-logos {
        width: 90vw;
        grid-template-rows: repeat(4, 110px);
    }
    .skill-item {
        img {
            height: 50px;
        }
    }
    #projects-top {
        height: 830px;
    }
    .projects-top-left {
        width: 90vw;
        h2 {
            font-size: 16pt;
        }
    }
    .projects-top-links {
        width: 81vw;
    }
    .projects-top-right {
        img {
            height: 400px;
        }
    }
    .projects-bottom {
        height: 750px;
    }
    .projects-bottom-right {
        width: 81vw;
        height: 250px;
        margin-top: 30px;
        h2 {
            font-size: 16pt;
        }
    }
    .projects-bottom-links {
        width: 81vw;
    }
    .projects-bottom-image {
        img {
            height: 400px;
        }
    }
    .about-info {
        height: 450px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img {
            margin-top: 20px;
        }
        p {
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width: 620px) {
    .skills-logos {
        width: 80vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 140px);
    }
    .skill-item {
        img {
            height: 80px;
        }
    }

    .project-top-body {
        height: 700px;
        // border: solid red;
    }
    .projects-top-left {
        width: 90vw;
        height: 380px;
        h2 {
            text-align: center;
        }
    }
    .projects-top-links {
        height: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 81vw;
        // border: solid red;
        a {
            margin: 0;
        }
    }
    .projects-top-right {
        img {
            height: 300px;
        }
    }

    .projects-bottom {
        height: 700px;
    }
    .project-bottom-body {
        height: 700px;
        // border: solid red;
    }
    .projects-bottom-right {
        width: 90vw;
        height: 340px;
        h2 {
            text-align: center;
        }
    }
    .projects-bottom-links {
        height: 80px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 81vw;
        // border: solid red;
        a {
            margin: 0;
        }
    }
    .projects-bottom-image {
        img {
            height: 300px;
        }
    }

}

@media only screen and (max-width: 540px) {
    .home-body-content {
        height: 120px;
        p {
            font-size: 30pt;
        }
        div {
            width: 380px;
        }
        h1 {
            font-size: 16pt;
        }
    }

    #projects-top {
        height: 850px;
    }
    .project-top-body {
        height: 750px;
    }
    .projects-top-left {
        height: 405px;
        h2 {
            display: none;
        }
        h5 {
            display: none;
        }
        h3 {
            display: initial;
            font-weight: normal;
            color: $purple;
            font-family: $font;
            text-align: center;
            margin: 0;
        }
        h4 {
            display: initial;
            font-weight: normal;
            color: $light;
            font-family: $font;
            text-align: center;
            margin: 0;
        }
    }
    .projects-top-links {
        height: 80px;
    }
    .projects-top-right {
        img {
            width: 95vw;
            height: auto;
        }
    }

    .projects-bottom {
        height: 750px;
    }
    .project-bottom-body {
        height: 750px;
    }
    .projects-bottom-right {
        height: 380px;
        h2 {
            display: none;
        }
        h5 {
            display: none;
        }
        h3 {
            display: initial;
            font-weight: normal;
            color: $green;
            font-family: $font;
            text-align: center;
            margin: 0;
        }
        h4 {
            display: initial;
            font-weight: normal;
            color: $dark;
            font-family: $font;
            text-align: center;
            margin: 0;
        }
    }
    .projects-bottom-image {
        img {
            width: 95vw;
            height: auto;
        }
    }
    .about-info {
        p {
            font-size: 12pt;
        }
    }
}

@media only screen and (max-width: 420px) {
    header {
        div{
            h3 {
                font-size: 12pt;
            }
        }
    }
    .home {
        height: 700px;
    }
    .home-cover {
        height: 700px;
    }
    .home-body {
        height: 640px;
    }
    .home-body-content {
        height: 100px;
        p {
            font-size: 26pt;
        }
        div {
            width: 320px;
        }
        h1 {
            font-size: 14pt;
        }
    }
    .skills-logos {
        width: 80vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 120px);
    }
    .skill-item {
        img {
            height: 60px;
        }
    }
    .projects-top-left {
        height: 470px;
    }
    .projects-top-links {
        a {
            font-size: 4vw;
        }
    }
    .projects-bottom-right {
        height: 440px;
    }
    .projects-top-right {
        img {
            width: 85vw;
            height: auto;
        }
    }
    .projects-bottom-image {
        img {
            width: 85vw;
            height: auto;
        }
    }
    .about-info {
        p {
            font-size: 10pt;
        }
    }
    .job-break {
        width: 260px;
    }
    .social-media {
        width: 80vw;
    }
    .contact {
        width: 90vw;
    }
}

@media only screen and (max-width: 375px) {
    header {
        div{
            h3 {
                font-size: 10pt;
            }
        }
    }
    .home-cover {
        height: 700px;
    }
}

@media only screen and (max-width: 340px) {
    .home-body-content {
        height: 100px;
        p {
            font-size: 24pt;
        }
        div {
            width: 290px;
        }
        h1 {
            font-size: 12pt;
        }
    }
    .projects-top-left {
        height: 500px;
    }

    .projects-bottom-right {
        height: 500px;
    }
    .about-info {
        p {
            font-size: 9pt;
        }
    }
}

@media only screen and (max-width: 320px) {
    .projects-top-left {
        height: 550px;
    }
}