/* Prevent adjustments of font size when orientation changes  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
header {
    width: 100vw;
    height: 60px;
    background: #119DA4;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
}
.active {
    background: #2D87C3;
}
nav {
    width: 100vw;
    height: 40px;
    background: #1770AC;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 14pt;
}
hr {
    width: 2px;
    height: 40px;
    background: white;
    border: none;
    padding: 0;
    margin: 0;
}
.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    width: 100vw;
    height: 60px;
    background: #119DA4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
footer p {
    color: white;
}
.phone {
    width: 70vw;
    height: auto;
    margin-bottom: 20px;
}
.laptop {
    display: none;
}
.tablet {
    display: none;
}












/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }