@import '../_colors.scss';

.route-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $dark;
    margin-left: -8px;
    border-bottom: solid 1px $dark;
}

.route-body {
    width: 1400px;
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
    // border: solid red;
}

.route-top-left {
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    // border: solid yellow;
    h2 {
        color: $route-color;
        font-family: $font;
        font-weight: normal;
        margin: 0;
    }
    h5 {
        color: $light;
        font-size: 12pt;
        font-family: $font;
        font-weight: normal;
        margin: 0;
        line-height: 16pt;
    }
    p {
        color: $light;
        font-family: $font;
        font-weight: normal;
        margin: 0;
        line-height: 16pt;
    }
    h3 {
        display: none;
    }
    h4 {
        display: none;
    }
}

.route-top-links {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    // border: solid red;
    a {
        color: $route-color;
        cursor: pointer;
        font-family: $font;
        margin-right: 50px;
        text-decoration: none;
        border-bottom: solid 1px $route-color;
        font-size: 13pt;
    }
}

.route-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
}
.route-pics {
    width: auto;
    height: 470px;
}
.route-pic-btn {
    width: 20px;
    height: 40px;
    border: none;
    background: #FFFFFF70;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.3s;
    &:hover {
        background: #FFFFFF50;
        transition: ease-in-out 0.3s;
    }
    &:active {
        background: #FFFFFF;
    }
}
.route-btn-left {
    border-radius: 3px 0px 0px 3px;
}
.route-btn-right {
    border-radius: 0px 3px 3px 0px;
}

@media only screen and (max-width: 1450px) {
    .route-body {
        width: 95vw;
    }
    .route-pics{
        width: auto;
        height: 400px;
    }
    .route-top-left {
        width: 550px;
    }
}

@media only screen and (max-width: 1260px) {
    .route-top-left {
        width: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    .route-body {
        height: 920px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // border: solid red;
    }
    .route-top-left {
        width: 610px;
        height: 450px;
        justify-content: space-between;
        align-items: center;
        // border: solid red;
        h2 {
            margin-top: 0px;
        }
        p {
            text-align: center;
        }
    }
    .route-top-links {
        flex-direction: column;
        justify-content: space-between;
        a {
            margin-right: 0;
        }
    }
    .route-pics {
        width: auto;
        height: 470px;
    }
}

@media only screen and (max-width: 770px) {
    .route-body {
        height: 820px;
    }
    .route-top-left {
        width: 90vw;
        h2 {
            font-size: 16pt;
        }
    }
    .route-top-links {
        width: 81vw;
    }
    .route-top-right {
        img {
            height: 400px;
        }
    }
}
@media only screen and (max-width: 620px) {
    .route-top-left {
        width: 90vw;
        height: 500px;
        h2 {
            text-align: center;
        }
    }
    .route-top-links {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 81vw;
        // border: solid red;
        a {
            margin: 0;
        }
    }
    .route-top-right {
        img {
            height: 300px;
        }
    }
}

@media only screen and (max-width: 540px) {
    .route-body {
        height: 750px;
    }
    .route-top-left {
        height: 405px;
        h2 {
            display: none;
        }
        h5 {
            display: none;
        }
        h3 {
            display: initial;
            font-weight: normal;
            color: $purple;
            font-family: $font;
            text-align: center;
            margin: 0;
        }
        h4 {
            display: initial;
            font-weight: normal;
            color: $light;
            font-family: $font;
            text-align: center;
            margin: 0;
        }
    }
    .route-top-right {
        img {
            width: 95vw;
            height: auto;
        }
    }
}

@media only screen and (max-width: 420px) {
    .route-body {
        height: 900px;
    }
    .route-top-left {
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .route-top-right {
        img {
            width: 85vw;
            height: auto;
        }
    }
    .route-top-links {
        margin-bottom: 0;
        a {
            font-size: 4vw;
        }
    }
}

@media only screen and (max-width: 380px) {
    .route-body {
        height: 900px;
    }
    .route-top-right {
        height: 360px;
    }
}

@media only screen and (max-width: 320px) {
    .route-section {
        height: 1100px;
    }
    .route-body {
        height: 1000px;
    }
    .route-top-right {
        height: 250px;
    }
}