.route-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #040404;
  margin-left: -8px;
  border-bottom: solid 1px #040404;
}

.route-body {
  width: 1400px;
  height: 470px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
}

.route-top-left {
  height: 450px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.route-top-left h2 {
  color: #5EC7DB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin: 0;
}
.route-top-left h5 {
  color: #D7D9CE;
  font-size: 12pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin: 0;
  line-height: 16pt;
}
.route-top-left p {
  color: #D7D9CE;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin: 0;
  line-height: 16pt;
}
.route-top-left h3 {
  display: none;
}
.route-top-left h4 {
  display: none;
}

.route-top-links {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.route-top-links a {
  color: #5EC7DB;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 50px;
  text-decoration: none;
  border-bottom: solid 1px #5EC7DB;
  font-size: 13pt;
}

.route-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.route-pics {
  width: auto;
  height: 470px;
}

.route-pic-btn {
  width: 20px;
  height: 40px;
  border: none;
  background: #FFFFFF70;
  color: white;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.3s;
}
.route-pic-btn:hover {
  background: #FFFFFF50;
  transition: ease-in-out 0.3s;
}
.route-pic-btn:active {
  background: #FFFFFF;
}

.route-btn-left {
  border-radius: 3px 0px 0px 3px;
}

.route-btn-right {
  border-radius: 0px 3px 3px 0px;
}

@media only screen and (max-width: 1450px) {
  .route-body {
    width: 95vw;
  }
}
@media only screen and (max-width: 1375px) {
  .route-pics {
    width: auto;
    height: 400px;
  }
}
@media only screen and (max-width: 1260px) {
  .route-top-left {
    width: 500px;
  }

  .route-top-links {
    width: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  .route-body {
    height: 900px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .route-top-left {
    width: 610px;
    height: 450px;
    justify-content: space-between;
    align-items: center;
  }
  .route-top-left h2 {
    margin-top: 0px;
  }
  .route-top-left p {
    text-align: center;
  }

  .route-top-links {
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
  }
  .route-top-links a {
    margin-right: 0;
  }

  .route-top-right {
    margin-bottom: -3px;
  }
  .route-top-right img {
    width: auto;
    height: 470px;
  }
}
@media only screen and (max-width: 770px) {
  .route-body {
    height: 800px;
  }

  .route-top-left {
    width: 90vw;
  }
  .route-top-left h2 {
    font-size: 16pt;
  }

  .route-top-links {
    width: 81vw;
  }

  .route-top-right img {
    height: 400px;
  }
}
@media only screen and (max-width: 620px) {
  .route-top-left {
    width: 90vw;
    height: 500px;
  }
  .route-top-left h2 {
    text-align: center;
  }

  .route-top-links {
    height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 81vw;
  }
  .route-top-links a {
    margin: 0;
  }

  .route-top-right img {
    height: 300px;
  }
}
@media only screen and (max-width: 540px) {
  .route-body {
    height: 750px;
  }

  .route-top-left {
    height: 405px;
  }
  .route-top-left h2 {
    display: none;
  }
  .route-top-left h5 {
    display: none;
  }
  .route-top-left h3 {
    display: initial;
    font-weight: normal;
    color: #907AD6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
  }
  .route-top-left h4 {
    display: initial;
    font-weight: normal;
    color: #D7D9CE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
  }

  .route-top-links {
    height: 80px;
  }

  .route-top-right img {
    width: 95vw;
    height: auto;
  }
}
@media only screen and (max-width: 420px) {
  .route-body {
    height: 800px;
  }

  .route-top-left {
    height: 800px;
  }

  .route-top-links a {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 340px) {
  .route-top-left {
    height: 500px;
  }
}

/*# sourceMappingURL=routeStyles.css.map */
