@import './variables';

nav {
    justify-content: flex-start;
    a {
        width: 12%;
    }
    hr {
        height: 70%;
    }
}

.main {
    h2 {
        padding-left: 5px;
    }
}

.images {
    justify-content: flex-start;
}

.sec-1 {
    flex-direction: row;
    justify-content: space-between;
}
.group {
    width: 32%;
    flex-direction: column;
}
.sec-2 {
    justify-content: flex-start;
    div {
        margin-right: 2.5%;
    }
}

.fruit {
    width: 30vw;
}