@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$font: 'Montserrat', sans-serif;

$prime: #002d56;

$second: #267aab;

$third: #83bf4f;

$darken: darken($second, 12%);